
<h1>Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>
<%= render 'shared/error_messages', massage: f.object %>
  <p class="edit">Title</p>
  <%= f.text_field :title %>
  <p class="edit">Body</p>
  <%= f.text_area :body %>
  
  <div class="updatebox">
  <%= f.submit 'Update Book' %>
  </div>
<% end %>

<%= link_to "Show",book_path %>
|
<%= link_to "Back",books_path %>